@model IEnumerable<SBCHomework.CoreModels.User>

@{ ViewData["Title"] = "Friends"; }

<h1>Friends</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        <a asp-controller="Chat" asp-action="Index" asp-route-id="@item.Id">Chat</a>
    </td>
    <td>
        <a asp-controller="Friend" asp-action="Delete">Delete</a>
    </td>
</tr>
}
</table>
